.container-form{
    text-align: center;
    height: 611px;
    width: 560px;
    left: 280px;
    border-radius: 15px;
    padding: 40px 91px 40px 91px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    position: relative;
}
.form-control{
    top: 25px;
position: relative;
}

.d-flex{
    display: flex;
margin-left: 83px;
}

label{
    margin-right: 17rem;
    margin-top: 10px;
}
.label-shift{
    margin-top: 25px;
}
input{
    width: 368px;
    height: 37px;
    margin-top: 9px;
    border-radius: 2px;
}
.option-head{
    width: 368px;
    height: 37px;
    margin-top: 9px;
    border-radius: 2px;
}
.para{
    background-color: rgb(161, 155, 155);
    margin-left: 35px;
    cursor: pointer;
}
.para:hover{
    background-color: blue;
    color: white;
    cursor: pointer;
}
.para-title{
    margin-top: 21px;
    text-align: left;
    margin-left: 6rem;
}
.label-left{
    right: 22px;
position: relative;
}

.btn{
    margin-top: 50px;
    width: 368px;
    height: 45px;
    background-color: #0081C9;
    color: white;
    border-radius: 5px;
}
.pra-head{
    margin-top: -56px;
}
.icon-1{
    position: absolute;
    left: 45.31%;
    right: 54.02%;
    top: 6.03%;
    bottom: -4.3%;
    background: #3766E8;
    border-radius: 100px;
    transform: matrix(0.86, -0.52, 0.51, 0.86, 0, 0);
    height: 38px;
    width: 15px;
}
.icon-2{
    position: absolute;
    left: 47.31%;
    right: 55.02%;
    top: 1.03%;
    bottom: -6.3%;
    background: #3766E8;
    border-radius: 100px;
    transform: matrix(0.86, -0.52, 0.51, 0.86, 0, 0);
    height: 74px;
    width: 15px;
}
.icon-3{
    position: absolute;
    left: 50.31%;
    right: 55.02%;
    top: 3.03%;
    bottom: -6.3%;
    background: #3766E8;
    border-radius: 100px;
    transform: matrix(0.86, -0.52, 0.51, 0.86, 0, 0);
    height: 31px;
    width: 15px;
}
.main{
    margin: 80px 0px;
}

.bg-hide{
    position: absolute;
width: 769.01px;
height: 13.44px;
left: 460px;
top: 231.51px;
background: #3766E8;
opacity: 0.2;
transform: rotate(-42deg);
overflow: hidden;
}
.bg-hide-1{
    position: absolute;
    width: 769.01px;
    height: 14.44px;
    left: -504.11px;
    top: 245.09px;
    background: #E0E8FC;
    transform: rotate(-41deg);
}